* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.home {
  display: flex;
  width: 100%;
  height: 60vh;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.organization_page,
.employee_page {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: space-around;
  align-items: flex-start;
}

.organization_form,
.employee_form {
  width: auto;
  padding: 20px;
}
.employee_form .select_option {
  display: block;
  width: 100%;
  outline: none;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 10px;
}
.organization_heading,
.employee_heading,
.employee_list_heading {
  font-size: 30px;
  font-weight: 300;
  text-align: center;
}
.organization_list {
  width: auto;
}
.employee_list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.employee_list .table {
  width: 65%;
  height: auto;
}
.list-group a {
  width: 100%;
}

.organization_details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 30px;
}

.organization_details ul {
  width: 500px;
}
@media only screen and (max-width: 600px) {
  .organization_page {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    justify-content: center;
    align-items: center;
  }
  .organization_form {
    width: 200px;
  }
  .organization_list {
    width: 200px;
  }
  .organization_details ul {
    width: 350px;
  }
  .organization_details .list-group {
    font-size: 13px;
  }
  .employee_list .table {
    width: 30%;
    height: auto;
  }
}
